################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/batch/generic/SetRegressionTestSourceDataDir.bat
/Performance/scripts/test_RS3_wonen.txt
/Operator/data/test_multiple_geotypes.gfs
/batch/generic/SetRegressionTestSourceDataDir.bat
