################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Machine-specific paths (auto-created from .example by SetRelativePaths.bat)
/batch/generic/SetRegressionTestsDir.bat
/Performance/scripts/test_RS3_wonen.txt
/Operator/data/test_multiple_geotypes.gfs
/Storage/data/mmd
/Regression/GeoDMSTestResults
/batch/debug.log
/batch/local_settings.json
/Regression/GeoDMSTestResults.17.5.0
/batch/generic/__pycache__
/batch/__pycache__
/output
*.pre_swor
*.pre_spatref
env*ResultFolder/
/*.log
